body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #252525;
}

a {
    text-decoration: none;
    color: #252525;
}

.center {
    text-align: center;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}

select {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

button {
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
    height: 35px;
}

.login-title {
    padding: 30px;
}

.login {
    margin: 80px;
    border: groove;
}

.login-form {
    width: 100%;
    max-width: 590px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 250px;
    padding: 30px;
}

.top-bar {
    height: 50px;
}

.top-bar .left-side {
    padding: 20px;
    position: absolute;
}

.top-bar .right-side {
    float: right;
    padding: 20px;
}

.top-bar label {
    margin: 10px;
    padding: 10px;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.selected {
    background-color: steelblue;
    border-color: black;
    border-style: double;
    color: gold;
}

.top-bar-line {
    height: 3px;
    background-color: black;
}

.pointer {
    cursor: pointer;
}

.question-list {
    width: 500px;
    margin: auto;
}

.question-card {
    border: double;
    height: fit-content;
    background-color: antiquewhite;
    margin-top: 10px;
}

.question-card .avatar-container {
    width: 100px;
    height: 100px;
    display: inline-table;
    margin: 10px;
}

.question-card .avatar-container img {
    border: solid;
    border-radius: 100%;
    width: 75%;
    height: 75%;
    margin: 10px;
}

.question-card .title {
    display: inline-grid;
    position: absolute;
    margin: 30px;
}

.question-card .new-question-title {
    display: inline-grid;
    margin: 30px;
}

.question-card .subtitle {
    margin-top: 20px;
    font-size: 20px;
}

.question-card .choices-container {
    margin: 23px;
}

.question-card .view-button {
    position: relative;
    left: 350px;
    margin: 10px;
    width: 125px;
}

.question-card .choice {
    padding: 10px;
    height: fit-content;
    margin-bottom: 5px;
}

.question-card .unanswered {
    border: solid;
}

.question-card .choice .percentage {
    float: left;
    margin-right: 10px;
}

.question-card .choice .percentage .percentage-text {
    margin-top: 0px;
}

.question-card .choice .choice-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.question-card .choices-container .choice-input {
    height: 25px;
    width: 100%;
    font-size: 16px;
    padding-left: 5px;
    border-right-width: 5px;
}

.question-card .choices-container .choice-separator {
    text-align: center;
}

.question-card .leader-container {
    display: flex;
}

.question-card .leader-container .score {
    height: 100px;
    width: 100px;
    background-color: green;
    border: solid;
    margin-top: 5px;
    margin-left: 100px;
    border-radius: 100%;
}

.question-card .leader-container .score-text {
    text-align: center;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
    color: white;
    font-size: 50px;
}

.not-found-container {
    text-align: center;
    padding-top: 90px;
    display: inline-grid;
    width: 100%;
}

.not-found-container .number {
    font-size: 200px;
}